/******** JSCPB2016 ********/
.jscpb h1.top{
    border: none;
}
.jscpb h1 {
    border-left: 20px solid #802d2d;
    border-bottom: 2px solid #802d2d;
}
.jscpb h2 {
    border-bottom: 2px dotted #802d2d;
}

.banner td{
    width: 100%;
    padding-bottom: 20px;
    background-color: #ffffff !important;
    border-bottom: 2px dotted #434343;
}

.jscpb .evms td{
width: 70%;
}

.jscpb .evform td{
#background-color:#000;
max-width:1000px !important;
}

/********** xoonips **********/
li.jstree-node{
    padding: 0;
    background-color:#ff0000;
}

/********** Header ***********/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
      font-family: 'ambleregular';
      src: url(../fonts/Amble-Regular-webfont.ttf) format('truetype');
}

div.header{
    background:#323232;
}

div.header div.wrap{
    width:80%;
    margin:0 auto;
    transition:all .2s linear;
    -moz-transition:all .2s linear;/* firefox */
    -webkit-transition:all .2s linear; /* safari and chrome */
    -o-transition:all .2s linear; /* opera */
    -ms-transition:all .2s linear;
}

div.logo{
    float:left;
    padding:10px 10px;
}
div.menu{
    float:right;
}
div.menu li{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
}
div.menu li a{
    display:block;
    font-family: 'ambleregular';
    font-size:0.85em;
    color:#FFF;
    text-transform:uppercase;
    padding:36px 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    position:relative;
}
div.menu li a:hover,.menu li.active a{
    color:#FFF;
    background:#802d2d;
    text-decoration: none;
}


/********* Main ************/
.main{
	padding:20px 0;
	background-color:#e5e5e5;
}
.content{
	float:left;
	width:54%;
	margin:0 2%;
}
.sidebar{
	float:left;
	width:21%;
}

/************* Sidebar ***********/
.services h3{
	color:#FFF;
	font-size:1.2em;
	text-transform:uppercase;
	font-family: 'ambleregular';
	padding:8px 0;
	text-align:center;
	background:#802d2d;
}
.services_list{
	margin-top:5px;
	background:#FFF;
	margin-bottom: 10px;
}
.services_list li a{
	display:block;
	background:url(../images/arrow.png) no-repeat 10px 9px;
	color:#969494;
	font-size:0.85em;
	border-bottom:1px solid #D6D6D6;
	padding:8px 0 8px 25px;
}
.services_list li a:hover{
	background:#555 url(../images/arrow-hover.png) no-repeat 10px 9px;
	color:#FFF;
}
.sidebar_left_bottom{
	margin-top:15px;
}
.projects h3{
	color:#FFF;
	font-size:1.2em;
	text-transform:uppercase;
	font-family: 'ambleregular';
	padding:8px 0;
	text-align:center;
	background:#802d2d;
}
.project_img{
	margin-top:5px;
	background:#FFF;
	padding:15px;
}
.projects img{
	max-width:100%;
	display:block;
	width:100%;
	margin-bottom:6px;
}
/********* Content ***********/
.content_bottom{
	padding:25px;
	background:#FFF;
	margin-bottom: 15px;
}
.content_bottom h2{
	font-family: 'ambleregular';
	font-size: 1.5em;
	color: #424242;
	padding:5px 0;
	text-transform:uppercase;
}
.content_bottom h3{
	font-family: 'ambleregular';
	font-size:0.85em;
	color:#EE5010;
	padding:5px 0;
	line-height:1.6em;
}
.content_bottom p{
	color:#969494;
	font-size:0.85em;
	padding:5px 0;
	line-height:1.8em;
}
.feature_list{
	padding-top:22px;
}
.feature_list li{
	color:#888;
	font-size:0.85em;
	padding:8px 0 8px 15px;
	background:url(../images/list-img.png) no-repeat 0;
}
/************** Sidebar - Right *************/
.sidebar_right_top h3{
	color:#FFF;
	font-size:1.2em;
	text-transform:uppercase;
	font-family: 'ambleregular';
	padding:8px 0;
	text-align:center;
	background:##802d2d;
}
.view-all{
   padding-top:5px;	
}
.view-all a {
	font-family:'ambleregular';
	color:#EE5010;
	font-size:0.85em;
	background:url(../images/arrow.png) no-repeat 0;
	padding-left:15px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	text-align: right;
}
.view-all a:hover{
	color:#555;
}


/************* Footer *************/
.footer{
	background:#FFF;
}


/************  GRID OF FOUR **************/
/*
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_4:first-child { margin-left: 0; }
	
.span_1_of_4 {
	width: 20.8%;
	padding:1.5%; 
}
.span_1_of_4  h3{
	 font-size:1.2em;
	 color:#EE5010;
	 border-bottom: 1px dotted #D5D5D5;
	 font-family: 'ambleregular';
	 text-transform:uppercase;
	 margin-bottom:10px;
}
.span_1_of_4  p{
	font-size:0.85em;
	padding:5px 0;
	color:#969494;
	line-height: 1.8em;
}
.span_1_of_4  p span a{
	color:#EE5010;
	font-family: 'ambleregular';
}
.span_1_of_4  p span a:hover{
	color:#222;
}
.location li,ul.address li{
	font-size:0.85em;
	color:#6A6A6A;
	display:block;
	padding:7px 0;
}
.Testimonials_desc p span.up{
	padding-right:10px;
}
.Testimonials_desc p span.down{
	padding-left:10px;
}
.Testimonials_desc p span.down img{
	vertical-align:middle;
}
.Testimonials_desc h5{
	font-size:0.85em;
	color:#EE5010;
	font-family: 'ambleregular';
	text-align:right;
	font-style:italic;
}
 .copy-right{
	text-align:center;
	padding:15px 0;
	background:#323232;
 }
 .copy-right p{
	font-size:0.85em;
	color:#FFF;
	font-family: 'ambleregular';
 }
 .copy-right p a{
	text-decoration:underline;
	color:#EE5010;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
 }
 .copy-right p a:hover{
 	color:#FFF;
	text-decoration:none;
 } 


*/